body{
  font-size: 1.5rem;
  background-color: rgba(18,52,86,0.3);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 80%;
}

form > div { position: relative; }
form > div > label { position: absolute; }
.wrap-input{ border: none; }

form input {
  border: none;
  border-bottom: 1px dotted black;
  margin: 5px;
  width: 100%;
  background: transparent;
}

form input:not(:valid){ box-shadow: none; }
form input:focus { outline: none; }

form label {
  position: absolute;
  left: 10px;
  top: 5px;
}

form input:focus + label,
form input:valid + label {
  display: none;
}
